.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  padding: 30px;
  margin-bottom: 2rem;
  color: white;
}

.App-title{
  font-size: 1.5rem;
}

/****************** FORM.js style */
.form-input {
    background: transparent;
    border: 0;
    border-bottom: solid 2px #2c3e50;
    margin-right: 10px;
    letter-spacing: 2px;
    width: 10%;
    padding: 0.4rem;
}

.form-button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.7rem;
}

/* *************Recipes.js style *********** */

.recipes-box {
    background: rgb(247, 247, 247);
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(252, 1, 1, 0.3);
    /* box-shadow: 0px 0px 0px 1px rgba(25, 107, 80, 0.75); */
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin : 0px 0.6rem;
    margin-bottom:3rem;
}


.recipe-btn {
    border: 1px solid rgb(219, 166, 166);
    border-radius: 10px !important;
    background: rgb(219, 166, 166);
    padding: 0.4rem 0.6rem;
    margin: 0 0.2rem;
    border-radius: 1px;
    font-size: 0.8rem;
    font-weight: bold !important;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 0.7rem;
    box-shadow: 2px 2px 2px 2px rgba(109, 99, 99, 0.3);
    letter-spacing: 1px;
}

.recipe-btn
  a:link, a:visited {
    text-decoration: none;
    color: black;
}
.recipe-img{
  width: 100%;
  border-radius: 10px;
}